<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<div class="container table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Surname</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Room Number</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th></th>
            </tr>
        </thead>
        <% for(let i = 0; i < reservations.length; i++) { %>
        <tbody>
            <tr>
                <td><%= reservations[i].surname %></td>
                <td><%= reservations[i].firstName %></td>
                <td><%= reservations[i].email %></td>
                <td><%= reservations[i].roomNumber %></td>
                <td><%= reservations[i].status %></td>
                <td><%= reservations[i].dateCreated %></td>
                <td><%= reservations[i].dateUpdated %></td>
                <td> 
                    <a href="/reservations/edit/<%= reservations[i]._id %>" type="button" class="btn btn-primary btn-lg mb-3">Edit</a> 
                    <a href="/reservations/delete/<%= reservations[i]._id %>" type="button" class="btn btn-danger btn-lg">Delete</a> 
                </td>
            </tr>
        </tbody>
        <% } %>
    </table>
</div>


<%- include ../partials/footer.ejs %>

