<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<div class="container mt-3">
    <h2><%= title %></h2>
    <form method="POST">
      <div class="mb-3">
        <label for="addedNotes">Added Notes</label>
        <textarea class="form-control" name="addedNotes"><%= Listing.addedNotes %></textarea>   
      </div>
      <div class="mb-3">
        <label for="price">Price</label>
        <input class="form-control" type="number" name="price" value="<%= Listing.price %>" required>
      </div>
      <div class="mb-3">
        <label for="roomNumber">Room Number</label>
        <input class="form-control" type="number" name="roomNumber" value="<%= Listing.roomNumber %>" required>
      </div>
      <div class="mb-3">
        <label for="size">Size (sqft)</label>
        <input class="form-control" type="number" name="size" value="<%= Listing.size %>" required>
      </div>
      <div class="mb-3">
        <label for="type">Room Type</label>
        <select class="form-control" name="type" required>
            <% if(Listing.type == 'single') { %>
                <option value="single" selected>Single</option>
            <% } else { %>
                <option value="single" selected>Single</option>
            <% } %>

            <% if(Listing.type == 'double') { %>
                <option value="double" selected>Double</option>
            <% } else { %>
                <option value="double">Single</option>
            <% } %>

            <% if(Listing.type == 'twin') { %>
                <option value="twin" selected>Twin</option>
            <% } else { %>
                <option value="ptwin">Twin</option>
            <% } %>

            <% if(Listing.type == 'suite') { %>
                <option value="suite" selected>Suite</option>
            <% } else { %>
                <option value="suite">Suite</option>
            <% } %>
        </select>
      </div>
      <div class="mb-3">
        <label for="view">View</label>
        <select class="form-control" name="view" required>
            <% if(Listing.view == 'ocean') { %>
                <option value="ocean" selected>Ocean</option>
            <% } else { %>
                <option value="ocean" selected>Ocean</option>
            <% } %>

            <% if(Listing.view == 'park') { %>
                <option value="park" selected>Park</option>
            <% } else { %>
                <option value="park">Park</option>
            <% } %>

            <% if(Listing.view == 'parking') { %>
                <option value="parking" selected>Parking</option>
            <% } else { %>
                <option value="parking">Parking</option>
            <% } %>

            <% if(Listing.view == 'town') { %>
                <option value="town" selected>Town</option>
            <% } else { %>
                <option value="town">Town</option>
            <% } %>
        </select>
      </div>
      <div class="mb-3 mt-3">
        <label for="availability">Availability</label> 
        <select class="form-control" name="availability" required>
            <% if(Listing.availability == true) { %>
                <option value="true" selected>Available</option>
                <option value="false">Not Available</option>
            <% } else { %>
                <option value="true">Available</option>
                <option value="false" selected>Not Available</option>
            <% } %>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Save Changes</button>  
        <button class="btn btn-secondary" type="reset">Reset</button>
        <a href="/listings" class="btn btn-warning">Cancel<i class="fas fa-undo"></i></a>   
    </form>
</div>

<%- include ../partials/footer.ejs %>