<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>


<div class="container mt-3">

    <% if(queryParam == 'edit_success') { %>
        <div class="alert alert-success">
            <strong>Success!</strong> Your changes have been saved.
        </div>
    <% } else if(queryParam == 'delete_success') { %>
        <div class="alert alert-success">
            The listing has been deleted. 
        </div>
    <% } else if(queryParam == 'failure') { %>
        <div class="alert alert-danger">
            Something went wrong. If the issue presists, please contact <a href="#">support</a>.
        </div>
    <% } %>

    <div id="accordion">
        <% for(let j = 0; j < Images.length; j++) { %>
            <div class="card">
            <div class="card-header">
                <% let imageName = Images[j].split('.')[0] %>
                <a class="btn" data-bs-toggle="collapse" href="#<%=j%>">
                    <div class="card">
                        <img src="/images/<%= Images[j] %>" width="100%" style="object-fit: contain;">
                        <div class="card-body">
                            <h2 class="card-title"><%= imageName %></h2>
                        </div>
                    </div>         
                </a>
                <div id="<%=j%>" class="collapse" data-bs-parent="#accordion">
                    <% for(let i = 0; i < Listings.length; i++) { %>
                    <% if(Listings[i].type == imageName.toLowerCase()) { %>
                        <div class="card">
                            <div class="card-body">
                                <% if(Listings[i].availability) { %>
                                    <h3>Available</h3>
                                <% } else { %>
                                    <h3>Not Available</h3>
                                <% } %>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Price ($/night)</th>
                                                <th>Floor</th>
                                                <th>Room Number</th>
                                                <th>View</th>
                                                <th>Size (sqft)</th>
                                                <th>Date Created</th>
                                                <th>Date Updated</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= Listings[i].price %></td>
                                                <td><%= Listings[i].floor %></td>
                                                <td><%= Listings[i].roomNumber %></td>
                                                <td><%= Listings[i].view %></td>
                                                <td><%= Listings[i].size %></td>
                                                <td><%= Listings[i].dateCreated %></td>
                                                <td><%= Listings[i].dateUpdated %></td>
                                            </tr>
                                        </tbody>
                                    </table>        
                                </div>
                                <%= Listings[i].addedNotes %>
                            </div>
                            <div class="container pb-3">
                                <a href="/reservations/add/<%= Listings[i]._id %>" type="button" class="btn btn-primary btn-lg <% if(!Listings[i].availability) {%> disabled <% } %>">Reserve</a>
                                <a href="/listings/edit/<%= Listings[i]._id %>" type="button" class="btn btn-secondary btn-lg">Edit</a>
                                <a href="/listings/delete/<%= Listings[i]._id %>" type="button" class="btn btn-danger btn-lg">Delete</a>
                            </div>
                        </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>
</div>


<%- include ../partials/footer.ejs %>